@using System.Security.Claims;
@model ProfileWithPosts

<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6 text-center">
			<img src="@Model.profile.Picture" width="300" class="mb-3" />
			<h4>@Model.profile.DisplayName</h4>
			<p><b>Age:</b> @Model.profile.Age</p>
			<p><b>Cats owned:</b> @Model.profile.CatsOwned</p>
			<p><b>Favorite Cat Breed:</b> @Model.profile.FavoriteCatBreed</p>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-6 text-center">
			@if (User.FindFirstValue(ClaimTypes.NameIdentifier) != null)
			{
				if (User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.profile.Username)
				{
					<div class="row">
						<div class="col-4">
							@if (Model.profile.Username == User.FindFirstValue(ClaimTypes.NameIdentifier))
							{
								<form asp-action="Edit" asp-controller="Media" method="get">
									<input name="Id" type="hidden" value="@Model.profile.Id" />
									<button class="btn btn-outline-info" type="submit">Edit</button>
								</form>
							}
						</div>
						<div class="col-4">
							<form asp-controller="Media" asp-action="CreatePost">
								<input name="receiver" value="@Model.profile.Username" type="hidden">
								<button class="btn btn-primary">Create Post</button>
							</form>
						</div>
						<div class="col-4">
							<form asp-controller="Media" asp-action="SeePosts">
								<button class="btn btn-primary">View All My Posts</button>
							</form>
						</div>
					</div>
				}
				else
				{
					<form asp-controller="Media" asp-action="CreatePost">
						<input name="receiver" value="@Model.profile.Username" type="hidden">
						<button class="btn btn-primary">Leave Post</button>
					</form>
				}
			}
		</div>
	</div>
	<hr />
	<div class="container">
		<div class="row" >
			@foreach (var post in Model.posts)
			{
				<div class="col-md-2 mb-2 mx-5">
					<partial name="_PartialPost.cshtml" for="@post" />
				</div>
			}
		</div>
	</div>
</div>